#root {
  max-width: 550px;
  margin: 0 auto;
  text-align: center;
  background-color: white;
}

* {
  box-sizing: border-box;
}

main {
  padding: 36px;
}

header {
  display: flex;
  align-items: center;
  padding: 20px;
  height: 65px;
  width: 100%;
  background: rgb(103,34,128);
  background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
}

.header--img {
  width: 26.22px;
  height: 31.31px;
  margin-right: 6.69px;
}

.header--brand-name {
  font-weight: bold;
  font-size: 20.75px;
}

.header--brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.form {
  margin-bottom: 16px;
}

.form--inputs {
  display: flex;
  justify-content: space-between;
  width: 477px;
}

input {
  width: 230px;
  height: 35px;
  border-radius: 5px;
  font-family: "Karla", sans-serif;
  background-color: white;
  border: 1px solid #D5D4D8;
  text-indent: 5px;
  color: black;
  font-size: 12px;
  padding: 11px;
}

.form--button {
  width: 477px;
  height: 40px;
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  letter-spacing: -1px;
  border-radius: 5px;
  color: white;
  font-family: "Karla", sans-serif;
  cursor: pointer;
  background: rgb(103,34,128);
  background: linear-gradient(90deg, rgba(103,34,128,1) 0%, rgba(166,38,211,1) 100%);
}

.meme {
  position: relative;
}

.main--meme-img {
  max-width: 100%;
  border-radius: 5px;
}

.main--meme-text {
  position: absolute;
  font-family: Impact, sans-serif;
  -webkit-text-stroke: 1px black;
  font-size: 32px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  /* margin: 15px 0; */
  padding: 0 5px;
}


.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
